{% extends "layout.html" %}
{% block content %}
  <div class="header">
    <h1>
      Juno
    </h1>
  </div>
  <table>
    <thead>
      <tr>
        <th>Host</th>
        <th>CPU</th>
        <th>Memory</th>
        <th>Network In</th>
        <th>Network Out</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="hostname">jong-mbp</td>
        <td class="good" id="cpu"></td>
        <td class="good" id="memory"></td>
        <td class="good" id="network_in"></td>
        <td class="good" id="network_out"></td>
      </tr>
    </tbody>
  </table>
{% endblock content %}