{% extends "layout.html" %}
{% block content %}
  <div class="header">
    <h1>
      Juno
    </h1>
  </div>
  <table>
    <thead>
      <tr>
        <th>Host</th>
        <th>IP Address</th>
        <th>CPU</th>
        <th>Memory</th>
        <th>Network In</th>
        <th>Network Out</th>
      </tr>
    </thead>
    <tbody>
      {% for agent in agents %}
        <tr id="{{agent.uuid}}">
          <td class="hostname">{{ agent.hostname }} </td>
          <td class="id_address">{{ agent.ip }} </td>
          <td class="cpu"></td>
          <td class="memory"></td>
          <td class="network_in"></td>
          <td class="network_out"></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}